<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img class="radio" ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.name}}
    </p>
    <p>
      {{chat.ocupacion}}
    </p>

    <p class="homeStyle">
      {{chat.descripcion}}
    </p>
    <label class="item item-input">
    <!--   <div class="list">
      <label class="item item-input">
          <input type="text" placeholder="tu e-mail" ng-model="emailUser">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="tu número" ng-model="numberUser">
        </label>
        <label class="item item-input">
          <textarea placeholder="deja tu comentario aqui... " ng-model="CommentsUser"></textarea>
        </label>
      </div> -->
      <input ng-model="emailUser" type="text" placeholder="tu e-mail" require>
    </label>

    <label class="item item-input">
      <input type="number" ng-model="phoneUser" type="text" placeholder="tu número" require>
    </label>
    <label class="item item-input">
      <textarea placeholder="deja tu comentario aqui... " ng-model="CommentsUser"></textarea>
    </label>
    <br>
    <input class="button button-balanced" type="submit" ng-click="doit(emailUser,phoneUser,CommentsUser)" value="Contratar">  <!-- emailUser,numberUser,CommentsUser -->
  </ion-content>
</ion-view>

