<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img class="radio" ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.name}}
    </p>
    <p>
      {{chat.ocupacion}}
    </p>

    <p class="homeStyle">
      {{chat.descripcion}}
    </p>
      <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="tu nombre" ng-model="nameUser">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="tu e-mail" ng-model="emailUser">
        </label>
        <label class="item item-input">
            <input type="number" placeholder="tu número" ng-model="numberUser">
        </label>
        <label class="item item-input">
            <textarea placeholder="deja tu comentario aqui... " ng-model="CommentsUser"></textarea>
        </label>
        <label>
            <input class="button button-balanced" type="submit" ng-click="sendMessage(nameUser,emailUser,numberUser,CommentsUser)" value="Contratar">
        </label>
      </div>

     <!--  <div class="list" ng-repeat="msj in messages">

      </div> -->


      <!-- <input class="button button-balanced" type="submit" ng-click="sendMessage(data)" value="Contratar"> -->


    <br>

  </ion-content>
</ion-view> <!-- emailUser,numberUser,CommentsUser -->

