<ion-view view-title="JobProfile">  <!-- view-title="JobProfile" -->
  <ion-content class="padding splash">
    <div class="conLogo">


    <span class="item-note">
      JobProfile
    </span>


       <img class="logo" src="img/logoRed.png">
    </div>
        <section class='item item-text-wrap homeStyle'>
            <div class="lema">
              "Nosotros sembramos las semillas, tu solo cosechas los frutos"
            </div>
          <div class="moreDescription">
              'JobProfile' una Aplicación mobil para que encuentres los perfiles profesionales que siempre has buscado.
            </div>
        </section>



    <a class="item item-icon-left" href="#/tab/chats">
      <i class="icon ion-person-stalker"></i>
      Vista los Perfiles
      <span class="badge badge-assertive">{{profiles}}</span>
    </a>
<br>
     <!--  <div class="button-bar">
        <a ng-href="#/tab/vision" class="button">Visión</a>
        <a ng-href="#/tab/chats" class="button">Misión</a>
        <a ng-href="#/tab/chats" class="button">Filosofia</a>
     </div> -->
  </ion-content>
</ion-view>
